In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,3,5,np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01 -0.619156 -0.642588  1.294754  0.036084
2013-01-02  1.071303  1.836610  0.112133 -0.048936
2013-01-03 -0.209108 -1.653827 -1.551680  1.659477
2013-01-04 -0.452921  1.974499  0.674564 -1.157890
2013-01-05  0.756681  0.970826  0.340619  0.429712
2013-01-06  1.309999  0.963126  0.947037 -0.041347

In [9]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4, dtype='int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'})

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df.head()

                   A         B         C         D
2013-01-01 -0.619156 -0.642588  1.294754  0.036084
2013-01-02  1.071303  1.836610  0.112133 -0.048936
2013-01-03 -0.209108 -1.653827 -1.551680  1.659477
2013-01-04 -0.452921  1.974499  0.674564 -1.157890
2013-01-05  0.756681  0.970826  0.340619  0.429712

In [14]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.452921  1.974499  0.674564 -1.157890
2013-01-05  0.756681  0.970826  0.340619  0.429712
2013-01-06  1.309999  0.963126  0.947037 -0.041347

In [16]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')